Pandas - basics

In [2]:
import pandas as pd
#loading csv file
file = "D:\Data_Science\Data_Exploration_Visulaization\Practice data\data_practice copy.csv"
df = pd.read_csv(file) 
#confirm data has loaded 

df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [3]:
#check for missing values
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [4]:
#get summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [5]:
#get summary - we have one outlier in duration, rest seems okay 
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [6]:
#there are null values - 1 in date, 2 in calories
#filling missing values 
#using mean + fillna  - since cal is a numeric data type 
mean_cal = df["Calories"].mean()
#df["Calories"].fillna(mean_cal,inplace=True)
df.fillna({"Calories":mean_cal},inplace=True)

#replacing date - string 
df.fillna({"Date":"2020/12/01"},inplace=True)

#outlier in duration found, maybe an input error - replace
df["Duration"].replace(450,45, inplace=True)

#row 26 - date
df['Date'] = df['Date'].astype(str).str.strip("'")

# Parse date from either 'YYYY/MM/DD' or 'YYYYMMDD' formats
df['Date'] = pd.to_datetime(
    df['Date'], 
    format='%Y/%m/%d', 
    errors='coerce'
).fillna(
    pd.to_datetime(df['Date'], format='%Y%m%d', errors='coerce')
)

# Format as 'YYYY/MM/DD' string (still in-place)
df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')

C:\Users\karen\AppData\Local\Temp\ipykernel_21492\1149983473.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Duration"].replace(450,45, inplace=True)

In [7]:
#confirm whether changes are made 
df.info()
#all 32 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [8]:
#rounding data makes life easier
df.round({"Duration":1, "Pulse":1, "MaxPulse":1, "Calories":1})

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7         45  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     304.7
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45  2020/12/01    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     304.7
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [9]:
print(df['Date'].head(10).tolist())

['2020/12/01', '2020/12/02', '2020/12/03', '2020/12/04', '2020/12/05', '2020/12/06', '2020/12/07', '2020/12/08', '2020/12/09', '2020/12/10']

In [ ]:
#splitting date to diff columns 
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d', errors='coerce')   #check format 

#splitting 
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day


# Drop the original 'Date' column if needed
#df.drop(columns='Date', inplace=True)

# Reorder columns as: Year, Month, Day, Duration, Pulse, Maxpulse, Calories
#df = df[['Year', 'Month', 'Day','Date', 'Duration', 'Pulse', 'Maxpulse', 'Calories']]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
 5   Year      32 non-null     int32
 6   Month     32 non-null     int32
 7   Day       32 non-null     int32
dtypes: datetime64[ns](1), float64(1), int32(3), int64(3)
memory usage: 1.8 KB

In [ ]:
#saves file as csv without repeating index
df.to_csv("cleaned_data.csv",index=False)

In [14]:
cleanfile = "D:\Data_Science\Data_Exploration_Visulaization\Practice data\cleaned_data.csv"
clean_df = pd.read_csv(cleanfile)
clean_df.head(30)

    Duration        Date  Pulse  Maxpulse  Calories  Year  Month  Day
0         60  2020-12-01    110       130    409.10  2020     12    1
1         60  2020-12-02    117       145    479.00  2020     12    2
2         60  2020-12-03    103       135    340.00  2020     12    3
3         45  2020-12-04    109       175    282.40  2020     12    4
4         45  2020-12-05    117       148    406.00  2020     12    5
5         60  2020-12-06    102       127    300.00  2020     12    6
6         60  2020-12-07    110       136    374.00  2020     12    7
7         45  2020-12-08    104       134    253.30  2020     12    8
8         30  2020-12-09    109       133    195.10  2020     12    9
9         60  2020-12-10     98       124    269.00  2020     12   10
10        60  2020-12-11    103       147    329.30  2020     12   11
11        60  2020-12-12    100       120    250.70  2020     12   12
12        60  2020-12-12    100       120    250.70  2020     12   12
13        60  2020-12-13    106       128    345.30  2020     12   13
14        60  2020-12-14    104       132    379.30  2020     12   14
15        60  2020-12-15     98       123    275.00  2020     12   15
16        60  2020-12-16     98       120    215.20  2020     12   16
17        60  2020-12-17    100       120    300.00  2020     12   17
18        45  2020-12-18     90       112    304.68  2020     12   18
19        60  2020-12-19    103       123    323.00  2020     12   19
20        45  2020-12-20     97       125    243.00  2020     12   20
21        60  2020-12-21    108       131    364.20  2020     12   21
22        45  2020-12-01    100       119    282.00  2020     12   22
23        60  2020-12-23    130       101    300.00  2020     12   23
24        45  2020-12-24    105       132    246.00  2020     12   24
25        60  2020-12-25    102       126    334.50  2020     12   25
26        60  2020-12-26    100       120    250.00  2020     12   26
27        60  2020-12-27     92       118    241.00  2020     12   27
28        60  2020-12-28    103       132    304.68  2020     12   28
29        60  2020-12-29    100       132    280.00  2020     12   29